@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&display=swap');

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #6e6e6e;
}

*::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 10px;
    border: 3px solid #505050;
}

body {
    background-color: #121212;
    margin: 0;
    top: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: white;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity .25s;
    padding: 10px;
    font-weight: 400;
}

#back {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.75;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#back:hover {
    opacity: 1;
}

.settings_icon {
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

.names {
    margin-left: 10px;
}

.bubble {
    background-color: #202020;
    height: 50%;
    width: 80%;
    border-radius: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: 5px;
    font-family: 'Roboto Mono', monospace;
}

#api_bubble {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input[type="checkbox"] {
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    appearance: none;
    aspect-ratio: 1/1;
    transition: all .2s ease-in-out;
}

input[type="text"] {
    height: 20px;
    width: 90%;
    transition: all .2s ease-in-out;
    background-color: #1d1d1d;
    color: #b9b9b9;
    border: none;
    border-radius: 3px;
    padding: 0 5px 0 5px;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

input[type="checkbox"]:checked {
    background-color: #ff4655;
    border: 2px solid #cccccc52;
    /* Add a border to mimic a checkbox */
}

.title {
    margin-top: 20px;
    font-weight: 500;
}

.link_icon {
    height: 35px;
    cursor: pointer;
}

#links {
    gap: 10px;
    width: auto;
}